/*******************************************************************************
 * _accueil.scss
 * Modification de la page de pré-accueil
 ******************************************************************************/
*{
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------------------------------------
Sélecteurs principaux
----------------------------------------------------------------------------- */
body.home {
    width : 100vw;
    overflow-x :hidden;
    margin: 0;
}
.home .couleurArriere{
    display: none;
}

.home header{
    display: none;
}

.home .entry-title{
    display: none;
}

.home footer {
    display: none;
}

/* -----------------------------------------------------------------------------
Sélecteurs pour la modification des images
----------------------------------------------------------------------------- */
.home figure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    margin: none;
   
}

.wp-block-image{
    margin : 0px;
}

/* -----------------------------------------------------------------------------
Sélecteurs pour les textes de la page d'accueil
----------------------------------------------------------------------------- */
.texteAccueil{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-family: "asap", sans-serif;
    font-weight: 600;
    text-shadow: 0px 0px 10px #7a7a7a;
    
    p:nth-child(2){
        font-size:400;
        font-style: italic;
    }
    .saveur{
        font-family: 'Concert One', cursive;
        background: #121FCF;
        background: -webkit-linear-gradient(to right, #121FCF 0%, #FF26E9 50%, #CF1512 100%);
        background: -moz-linear-gradient(to right, #121FCF 0%, #FF26E9 50%, #CF1512 100%);
        background: linear-gradient(to right, #121FCF 0%, #FF26E9 50%, #CF1512 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    @include tablette{
        font-size: 1.4em;
        text-align: left;
        margin-left: 10%;
        p{
            margin-bottom: 10px;
            &:nth-child(2){
                margin-left: 50px;
            }
        }
    }
    @include bureau{
        font-size: 1.6em;
        margin-left: 13%;
    }
}

/* -----------------------------------------------------------------------------
Sélecteurs pour les animations du fond
----------------------------------------------------------------------------- */
.ligneAccueil{
    border: 4px solid $color__header-fond;
    position: absolute;
    border-radius: 5px;
    top: 25%;
    right: 10%;
    width: 220px;
    transform: rotate(-30deg);
    animation: ligneAccueil 13s linear reverse infinite; 
}
.site>.ligneAccueil ~ .ligneAccueil{
    width: 300px;
    top: 80%;
    left: 15%;
    transform: rotate(30deg);
    animation: ligneAccueil 20s linear infinite;
}
.billeAccueil{
    width: 30px;
    top: 70%;
    right: 10%;
    height: 30px;
    border-radius: 20px;
    background-color: $color__nav;
    position: absolute;
    animation: billeAccueil 2s cubic-bezier(.35,.7,.38,.17) alternate-reverse infinite;
}
.site>.billeAccueil ~ .billeAccueil{
    height: 40px;
    width: 40px;
    top: 28%;
    left: 7%;
    animation: billeAccueil 4s cubic-bezier(.35,.7,.38,.17) alternate-reverse infinite;
}

@keyframes billeAccueil{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.4);
    }
}
@keyframes ligneAccueil{
    0% {
        transform: rotate(-30deg) scaleX(1);
    }
    50%{
        transform: rotate(-120deg) scaleX(0.8);
    }
    100% {
        transform: rotate(-210deg) scaleX(1);
    }
  }

/* -----------------------------------------------------------------------------
Sélecteurs pour le mode sombre
----------------------------------------------------------------------------- */
.darkmode--activated{
    .texteAccueil{
        color: $color__footer-texte_nuit;
    }
    .saveur{
        background: #15C3CF;
        background: -webkit-linear-gradient(to right, #15C3CF 0%, #FFA6E7 50%, #CF5757 100%);
        background: -moz-linear-gradient(to right, #15C3CF 0%, #FFA6E7 50%, #CF5757 100%);
        background: linear-gradient(to right, #15C3CF 0%, #FFA6E7 50%, #CF5757 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .ligneAccueil{
        border: 4px solid rgb(0, 183, 255);
    }
    .billeAccueil{
        background-color: rgb(0, 183, 255);
    }
}



