*{
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

body.home {
    background-color: $color__accueil-fond;
    width : 100vw;
    overflow-x :hidden;
    margin: 0;
}

.home .entry-title{
    display: none;
}

.home footer {
    display: none;
}

.home header{
    display: none;
}

.home figure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    margin: none;
   
}

.wp-block-image{
    margin : 0px;
}

.darkmode--activated{
    & body.home{
        mix-blend-mode: color;
        background-color: $color__accueil-fond_nuit;
    }
}



