*{
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

body.home {
    background-color: $color__accueil-fond;
    width : 100vw;
    overflow-x :hidden;
    margin: 0;
}
.home .entry-title{
    display: none;
}

.home footer {
    display: none;
}

.home header{
    display: none;
}

.home figure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    margin: none;
   
}

.wp-block-image{
    margin : 0px;
}

.wp-block-search .wp-block-search__input{
    flex-grow: 0.1;
    
}
.site{
    //margin: 20px;
}
.pied{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 0.05fr 1fr;
}
.site-footer{
    background-color: $color__footer-fond;
    color: $color__footer-texte;
}

