
// Responsive

    .avenirPartie{
        grid-template-columns: 1fr;
        grid-template-rows: 0fr auto;
        padding: 0;
        margin: 0 15px;
    }
    .avenirTexte{
        margin: 0;
    }

    .site-main-avenir{
        padding-top: 100px;
        background-color: $color__fond_pale;
        }

    @include bureau{
        .avenirPhoto{
            min-width: 250px;
        }
        .avenirPartie{
            display:grid;
            grid-template-columns: 1fr 2fr;
            margin: 0px 13vw;
        }
        
        .avenirTexte{
            margin: 0px 0px 0px 35px;
            font-size: 10.5pt;
        }
        .avenirTexte p{
            line-height: 23pt;
            font-size: 10.5pt;
        }
        //Couleur du texte pour le mode sombre
        .darkmode--activated{
            .avenirTexte{
                color: $color--enseignants-texte;
            }
            .avenirTexte p{
                color:$color--enseignants-texte;
            }
        }
        }