/*******************************************************************************
 * CSS POUR LE MODE MOBILE
 ******************************************************************************/ 

/*******************************************************************************
 * CSS POUR LE CONTENEUR DE TOUTES LES CARTES ENSEIGANTS.
 ******************************************************************************/

 .EnseignantsScroll{
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    margin-right: 75px;
    margin-top: 100px;
    gap: 20px 20px;    
    width: 95vw;
    gap: 20px 20px;
    

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(27, 3, 3, 0), #E8F0FF 80%);
        height: 20%;
        width: 100%;
        margin-bottom: 60px;
      }
    &:before{
        content: "";
        position: absolute;
        z-index: 1;
        pointer-events: none;
        //top: 0;
        background-image: linear-gradient(to top, rgba(27, 3, 3, 0), #E8F0FF 80%);
        height: 15%;
        width: 100%;
        margin-bottom: 20px
      }
}

/*******************************************************************************
 * CSS POUR LA BARRE DE SCROLL PRÉSENTE DANS LA PAGE ENSEIGNANTS
 ******************************************************************************/
.EnseignantsScroll::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  
  /* Track */
  .EnseignantsScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .EnseignantsScroll::-webkit-scrollbar-thumb {
    background: rgb(95, 95, 95);
    border-radius: 10px;
  }

  /*******************************************************************************
 * CSS POUR CHAQUE CARTE ENSEIGNANTS
 ******************************************************************************/
.enseignants{
    background-color:rgb(255,225,254);
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    border-radius: 25%;
    

    & img{
        display: block;
        width: 170px;
        height: 135px;
        border-radius: 30%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        object-fit: cover;
    }

}

.enseignants h3{
    margin-top: 25px;
    font-size: 0.8em;
}

/*******************************************************************************
 * CSS POUR LE HOVER SUR LES CARTE ENSEIGNANTS
 ******************************************************************************/
 .enseignants:hover{
    box-shadow:
                2px 2px #29ABE2,
                3px 3px #29ABE2,
                4px 4px #29ABE2;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    
    background-color: #B4CDFF;
    cursor: pointer;
}

 /*******************************************************************************
 * CSS POUR CHAQUE CARTES QUI MONTRE PLUS D'INFO SUR LES ENSEIGNANTS.
 ******************************************************************************/

.InfoEnseignants{
   
    position: absolute;
    margin-left: 10px;
    width: 95vw;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 0.3s ease;
    opacity: 0;
    z-index: -10;
    flex-direction: column;
    border-radius: 10%;
    background: linear-gradient(180deg, rgba(255,225,254,1) 0%, rgba(220,149,215,1) 100%);

    

    & img{
        
        margin-bottom: 10px;
        margin-top: 15px;
        border-radius: 20%;
        height: 20vh;
        width: auto;
        box-shadow: -5px -5px 30px 5px $color__nav, 5px 5px 30px 5px $color__header-fond2;
    }
    
}

 /*******************************************************************************
 * CSS POUR LE NOM ET COURS DES PROFS
 ******************************************************************************/

.InfoEnseignants .infoGeneralProf{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    height: 55%;
    font-size: 0.8em;
    
}

 /*******************************************************************************
 * CSS POUR LA DESCRIPTION DES PROFS.
 ******************************************************************************/

.InfoEnseignants .DescriptionEnseignant{

    height: 500px;
    overflow-y: scroll;
    margin-top: 10px;
    
    p{
       padding-right: 10px;
    }
    
}

/*******************************************************************************
 * CSS POUR LA SCROLLBAR QUI PERMET DE LIRE PLUS DE LA DESCRIPTION
 ******************************************************************************/
.InfoEnseignants .DescriptionEnseignant::-webkit-scrollbar{
    width: 6px;
  }

.InfoEnseignants .DescriptionEnseignant::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

.InfoEnseignants .DescriptionEnseignant::-webkit-scrollbar-thumb {
    background: rgb(95, 95, 95);
    border-radius: 10px;
  }

  /*******************************************************************************
 * CSS POUR LE BOUTON FERMETURE DES CARTES
 ******************************************************************************/
.InfoEnseignants .bouton-fermeture{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4CDFF;
    border-radius: 40%;
    border: none;
    cursor: pointer;
    font-size: 25px;
    
}

.InfoEnseignants .bouton-fermeture:hover{

    transform: translateY(-3px);
    box-shadow: 0 10px 20px $color__header-fond2;
}

.InfoEnseignants .bouton-fermeture:active{

    
        transform: translateY(-1px);
        box-shadow: 0 10px 20px $color__header-fond2;
    
}

.InfoEnseignants .bouton-fermeture::after{

    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    

}   




/*******************************************************************************
 * CSS POUR LE MODE TABLETTE
 ******************************************************************************/ 
@include tablette{

    /*******************************************************************************
 * CSS POUR CHAQUE CARTES QUI MONTRE PLUS D'INFO SUR LES ENSEIGNANTS.
 ******************************************************************************/
 .enseignants{
    width: 300px;
    height: 200px;
    & img{
        width: 180px;
        height: 140px;
    }

}

.InfoEnseignants{
    height: 65vh;
}

.EnseignantsScroll{
  
    
    

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(27, 3, 3, 0), #E8F0FF 80%);
        height: 20%;
        width: 100%;
        margin-bottom:110px;
      }
    &:before{
        content: "";
        position: absolute;
        z-index: 1;
        pointer-events: none;
        //top: 0;
        background-image: linear-gradient(to top, rgba(27, 3, 3, 0), #E8F0FF 80%);
        height: 15%;
        width: 100%;
        margin-bottom: 30px
      }
}

/*******************************************************************************
 * CSS POUR LA BARRE DE SCROLL PRÉSENTE DANS LA PAGE ENSEIGNANTS
 ******************************************************************************/
.EnseignantsScroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /*******************************************************************************
 * CSS POUR CHAQUE CARTE ENSEIGNANTS
 ******************************************************************************/
  .EnseignantsGlobal{
      margin-right: 170px;
  }

.enseignants{
    
    width: 120%;
   

    & img{
        border-radius: 30%;
        margin-top: 20px;
        
    }

}

.enseignants h3{
    margin-top: 30px;
    font-size: 1em;
}

 /*******************************************************************************
 * CSS POUR CHAQUE CARTES QUI MONTRE PLUS D'INFO SUR LES ENSEIGNANTS.
 ******************************************************************************/

.InfoEnseignants{
   
    
    & img{
        
        margin-top: 25px;
        height: 25vh;
        
    }
    
}

/*******************************************************************************
 * CSS POUR LE HOVER SUR LES CARTE ENSEIGNANTS
 ******************************************************************************/
 .enseignants:hover{
    box-shadow:
                2px 2px #29ABE2,
                3px 3px #29ABE2,
                4px 4px #29ABE2;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    
    background-color: #B4CDFF;
    cursor: pointer;
}

 /*******************************************************************************
 * CSS POUR LE NOM ET COURS DES PROFS
 ******************************************************************************/

.InfoEnseignants .infoGeneralProf{
    
    font-size: 1em;
    
}

  /*******************************************************************************
 * CSS POUR LE BOUTON FERMETURE DES CARTES
 ******************************************************************************/
.InfoEnseignants .bouton-fermeture{
    position: absolute;
    top: 10px;
    //right: 10px;
    width: 70px;
    height: 70px;
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4CDFF;
    border-radius: 40%;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    
}

.InfoEnseignants .bouton-fermeture:hover{

    transform: translateY(-3px);
    box-shadow: 0 10px 20px $color__header-fond2;
}

.InfoEnseignants .bouton-fermeture:active{

    
        transform: translateY(-1px);
        box-shadow: 0 10px 20px $color__header-fond2;
    
}

.InfoEnseignants .bouton-fermeture::after{

    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    

}   

}
/*******************************************************************************
 * CSS POUR LE MODE BUREAU
 ******************************************************************************/

@include bureau{

    /*******************************************************************************
 * CSS POUR LE CONTENEUR DE TOUTES LES CARTES ENSEIGANTS.
 ******************************************************************************/

 
.EnseignantsScroll{
  
    
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 50vh;
    margin-left: 50px;
    margin-right: 50px;
    //margin-top: -75px;
    padding-bottom: 30px;
    
    &:after {
        right: 0;
        top: 0;
        background-image: linear-gradient(to right, rgba(27, 3, 3, 0), #E8F0FF 80%);
        height: 76%;
        width: 15%;
      }
    &:before{
        top: 0;
        left: 0;
        background-image: linear-gradient(to left, rgba(27, 3, 3, 0), #E8F0FF 80%);
        width: 15%;
        height: 76%;
      }   
}
 
/*******************************************************************************
 * CSS POUR LA BARRE DE SCROLL PRÉSENTE DANS LA PAGE ENSEIGNANTS
 ******************************************************************************/
.EnseignantsScroll::-webkit-scrollbar {
  height: 8px;
}

/*******************************************************************************
 * CSS POUR CHAQUE CARTE ENSEIGNANTS
 ******************************************************************************/
 .EnseignantsGlobal{
    margin-right: 0px;
}

.enseignants{
    position: relative;
    margin: 1em;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 20%;
    width:250px;
    height: 160px;
    background-color: #FFE1FE;
    margin-left: 100px;
    margin-right: 100px;
    

    & img{
        display: block;
        margin: 0 auto;
        width: 60%;
        height: 60%;
        border-radius: 20%;
        object-fit: cover;
        
    }
}

.enseignants h3{
    
   font-size: 1em;
   margin: 0 auto;
}
 
/*******************************************************************************
 * CSS POUR CHAQUE CARTES QUI MONTRE PLUS D'INFO SUR LES ENSEIGNANTS.
 ******************************************************************************/
.InfoEnseignants{
   
    position: absolute;
    width: 95vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 0.3s ease;
    opacity: 0;
    z-index: -10;
    flex-direction: row;
    border-radius: 10%;
    background: rgb(255,225,254);
    background: linear-gradient(180deg, rgba(255,225,254,1) 0%, rgba(220,149,215,1) 100%);

    

    & img{
        display: block;
        margin-top: -200px;
        border-radius: 20%;
        height: 30vh;
        width: auto;
        margin-right: 200px;
        margin-top: 15px;
        box-shadow: -5px -5px 30px 5px $color__nav, 5px 5px 30px 5px $color__header-fond2;
        z-index: 1000;
        position: relative;
    }
    
}
/*******************************************************************************
 * CSS POUR LE HOVER SUR LES CARTE ENSEIGNANTS
 ******************************************************************************/
.enseignants:hover{
    box-shadow:
                2px 2px #29ABE2,
                3px 3px #29ABE2,
                4px 4px #29ABE2;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    
    background-color: #B4CDFF;
    cursor: pointer;
}

/*******************************************************************************
 * CSS POUR LE NOM ET COURS DES PROFS
 ******************************************************************************/

.InfoEnseignants .infoGeneralProf{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
    
}

 /*******************************************************************************
 * CSS POUR LA DESCRIPTION DES PROFS.
 ******************************************************************************/
.InfoEnseignants .DescriptionEnseignant{

    height: 300px;
    text-align: justify;
    overflow-y: scroll;
    margin-top: 10px;
    
    p{
        padding-right: 15px;
    }
    
}
 /*******************************************************************************
 * CSS POUR LE BOUTON FERMETURE DES CARTES
 ******************************************************************************/
.InfoEnseignants .bouton-fermeture{

    margin-right: 20px;
    margin-top: 20px;
    
}


}
 /*******************************************************************************
 * CSS POUR LE MODE sombre
 ******************************************************************************/
.darkmode--activated{
    .EnseignantsScroll::after{
            background-image: linear-gradient(to bottom, rgba(27, 3, 3, 0), #3b15c4 80%);
          }
    .EnseignantsScroll::before{
        background-image: linear-gradient(to top, rgba(27, 3, 3, 0), #3b15c4 80%);
      }
    & .enseignants{
        background-color: $color__enseignants-nuit;
        color: $color__enseignants-texte;
    }
    & .enseignants:hover{
        box-shadow:
                2px 2px $color__footer-fond3_nuit,
                3px 3px $color__footer-fond3_nuit,
                4px 4px $color__footer-fond3_nuit;
    
        background-color: $color__footer-fond_nuit;
    
    }
    & .InfoEnseignants{
        background: $color--enseignants-fond;

        p{
            color: $color__enseignants-texte;
        }
        
        img{
            box-shadow: -5px -5px 30px 5px $color__enseignants-nuit, 5px 5px 30px 5px $color__enseignants-texte;
        }

        .bouton-fermeture{
           
            background-color: $color__footer-fond2_nuit;
            color: white;
            
            
        }
    }
    & .nomProf{
            color: $color__enseignants-texte;
        }
    & .InfoEnseignants .bouton-fermeture:hover{

        box-shadow: 0 10px 20px $color__footer-fond3_nuit;
    }   
    & .EnseignantsScroll::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $color__footer-fond2_nuit;
      
    }
    & .EnseignantsScroll::-webkit-scrollbar-thumb {
      background: $color__footer-fond2_nuit;
      
    }
    & .InfoEnseignants .DescriptionEnseignant::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $color__footer-fond2_nuit;
        
      }
    
    & .InfoEnseignants .DescriptionEnseignant::-webkit-scrollbar-thumb {
        background: $color__footer-fond2_nuit;
       
      }
    
      @include bureau{

    .EnseignantsScroll:after {
        
        background-image: linear-gradient(to right, rgba(27, 3, 3, 0), #122875 70%);
        
      }.EnseignantsScroll:before{
            background-image: linear-gradient(to left, rgba(27, 3, 3, 0), #331CB3 70%);
          }
        
        
    }

    
}

  /*******************************************************************************
     * CSS POUR LES ANIMATIONS BULLES
     ******************************************************************************/
.AnimationBulle{
    position: absolute;
    z-index: 1;
}
/*
.shape{
    position: absolute;
    background: linear-gradient(45deg, #efbfff 0%, #97afff 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 200px;
    transition: all 1s ease-in-out;
    width: 200px;
    margin-top: -200px;
    margin-left: 250px;
}

@keyframes morph {
    0% {
              border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
              background: linear-gradient(45deg, #efbfff 0%, #97afff 100%);
      } 
      
      50% {
              border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
              background: linear-gradient(45deg, #b4cdff 0%, #97afff 100%);
      }
    
      100% {
          border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
          background: linear-gradient(45deg, #efbfff 0%, #97afff 100%);
      } 
  }
*/