.wp-block-search .wp-block-search__input{
    flex-grow: 0.1; 
}

/* Les éléments du body */
.site{
    //margin: 20px;
   // background-color: $color__fond;
}

main{
    margin:0 10px;
}
=======
/* Les éléments du pied de page */

.pied{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 0.05fr 1fr;
}
.site-footer{
    background-color: $color__footer-fond;
    color: $color__footer-texte;
    font-family: 'Asap', sans-serif;
}
/*Les couleurs du darkMode du footer*/
.darkmode--activated{
    & .site-footer{
        mix-blend-mode: difference;
        background-color: $color__footer-fond_nuit;
        color: $color__footer-texte_nuit;
    }

    & .site-branding{
        mix-blend-mode: difference;
        background: linear-gradient(0deg, $color__nav_nuit, $color__header-fond_nuit 30%) bottom;
    }
}
.piedPageLogo{
    //background-image: url("images/logoTIM.jpg");
}

.custom-logo{
    width: 60px;
    height: auto;
    margin: 10px;
}
.custom-logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-branding{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, $color__nav, $color__header-fond 30%) bottom;
}