/*******************************************************************************
 * _accueil.scss
 * Modification de la page de pré-accueil
 ******************************************************************************/

/* -----------------------------------------------------------------------------
Sélecteurs principaux
----------------------------------------------------------------------------- */
body{
   background-image:url('../images/backgrounds/bg4.png');
   background-image: url("http://localhost/captcha/wordpress/wp-admin/upload.php?item=67");
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.site-main{
    position: relative;
    height: 65vh;

}

h1{
    margin: 0em;
}

/* -----------------------------------------------------------------------------
Sélecteurs pour les images et logo
----------------------------------------------------------------------------- */
.imgFond{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.custom-logo{
    width: 60px;
    height: auto;
    margin: 10px;
}

.custom-logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-branding{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, $color__nav, $color__header-fond 30%) bottom;
}

/* -----------------------------------------------------------------------------
Les éléments du pied de page
----------------------------------------------------------------------------- */
.pied{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 0.05fr 1fr;
}
.site-footer{
    background-color: $color__footer-fond;
    color: $color__footer-texte;
    font-family: 'Asap', sans-serif;
}

/* -----------------------------------------------------------------------------
Les couleurs du mode sombre du footer
----------------------------------------------------------------------------- */
.darkmode--activated{
    & .site-footer{
        mix-blend-mode: difference;
        background-color: $color__footer-fond_nuit;
        color: $color__footer-texte_nuit;
    }

    & .site-branding{
        mix-blend-mode: difference;
        background: linear-gradient(0deg, $color__nav_nuit, $color__header-fond_nuit 30%) bottom;
    }
}