.stagePartie{
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 0px 200px;
}

.stageTexte{
    z-index: 2;
    font-size: 10.5pt;
}
.stageTexte p{
    line-height: 23pt;
    font-size: 10.5pt;
}
.stagePhoto{
    margin: 0 auto;
}

.stagePhoto img{
    width: 401px;
object-fit: cover;
}

.darkmode--activated{
    .stageTexte{
        color: $color--enseignants-texte;
    }
    .stageTexte p{
        color: $color--enseignants-texte;
    }
}
@include ecrLarge{
    .stageTexte{
        margin-left: 30px;
    }
    }

@include laptop{
    .stagePartie{
        padding: 0px 100px;
    }
    }
    
@include entre2{
.stagePartie{
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    padding: 0;
    margin: 0 15px;
}
.stageTexte p{
    line-height: revert;
}
}