hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

hr.lignePage{
	border-style: dashed;
border-width: 6px;
border-top: 0px;
width: 80%;
margin: 0 auto;
background-color: inherit;
color: deepskyblue;
 }