.main-navigation {
	display: block;
	width: 100%;
	margin: 0 auto;

	ul {
		text-align: center;
		display: flex;
		font-size: 1em;

		justify-content: flex-start;
		align-items: center;
		background-color: #333;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow-x: auto;
		white-space: nowrap;
		list-style: none;
		margin: 0;
		padding-left: 0;

		&::-webkit-scrollbar{
			//display: flex;
			background-color: #666;
			height: 7px;
			//position: absolute;
			//display: none;
		}
		&::-webkit-scrollbar-thumb{
			//max-height: 10px;
			background-color: rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07); }

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				padding: 14px;
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				text-decoration: none;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		display: inline-block;
		padding: 14px;
		padding: 10px 5% ;
		text-decoration: none;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Small menu. */
/*.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}*/

/*@media screen and (min-width: 37.5em) {*/

.menu-toggle {
	display: none;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
