$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* Les couleurs de la navigation*/
$color__nav : rgb(239, 191, 255);
$color__nav-scrollbar : rgb(252, 213, 213);
$color__nav-scrollbar-thumb : rgba(0, 0, 0, 0.2);
$color__nav-link : rgb(0, 0, 0);
$color__nav-link-hover : rgb(162, 163, 167);
$color__nav-link-hover-shadow : rgba(167, 210, 221, 0.1);
$color__page_active : rgb(255, 255, 255);

/* Les couleurs de la navigation mode nuit */
$color__nav_nuit : #06064A;
$color__nav-scrollbar_nuit : #4429AA;
$color__nav-scrollbar-thumb_nuit : rgba(185, 230, 248, 0.6);
$color__nav-link_nuit : rgb(180, 205, 255);
$color__nav-link-hover_nuit : rgb(233, 205, 251);
$color__nav-link-hover-shadow_nuit : rgba(107, 231, 253, 0.144);
$color__page_active_nuit : #4429AA;

/* Les couleurs du header */
$color__header-fond : rgb(180, 205, 255);
$color__header-fond2 : rgb(151, 175, 255);
$color__modeJourNuit-fond : rgb(20, 14, 53);

$color__header-fond_nuit : #1E0874;
$color__header-fond2_nuit : #4429AA;
$color__modeJourNuit-fond_nuit : rgb(213, 209, 216);

/* Les couleurs de fond du site */
$color__fond : rgb(201, 217, 248);
$color__fond_pale: rgb(232, 240, 255);
$color__fond__fonce : #302BB3;
$color__fond_nuit : rgb(117, 132, 163);

/* Les couleurs du footer */
$color__footer-texte : rgb(0, 0, 0);
$color__footer-fond : rgb(151, 175, 255);
$color__footer-fond2 : rgb(180, 205, 255);

$color__footer-texte_nuit : rgb(180, 205, 255);
$color__footer-fond_nuit : #1E0874;
$color__footer-fond2_nuit : #06064A;
$color__footer-fond3_nuit : #4429AA;

/* Les couleurs de la page projet */
$color__projet-bouttons : #EBC0FF;
$color__projet-bouttons_nuit : #1E0874;
$color__projet-gratient1 : rgba(255,255,254,80%);
$color__projet-gratient2 : rgba(220,149,215,80%);
$color__projet-gratient3 : rgba(180, 205, 255,80%);
/* Les couleurs du zoom des projets*/
$color__projet-fond : rgba(180, 205, 255,.5);

/* Les couleurs enseigants */
$color__enseignants-nuit : #06064A;
$color__enseignants-texte: #81A2E4;
$color__enseignants-fond: linear-gradient(180deg, #1E0874 0%, #4429AA 100%);

// Les couleurs de la page Vie Étudiante
$color__vie_fond:rgba(0, 0, 0, 0.7);