$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* Les couleurs de la navigation*/
$color__nav : rgb(230, 163, 207);
$color__nav-scrollbar : rgb(252, 213, 235);
$color__nav-scrollbar-thumb : rgba(0, 0, 0, 0.2);
$color__nav-link : rgb(161, 24, 81);
$color__nav-link-hover : rgb(206, 223, 241);
$color__nav-link-hover-shadow : rgba(0, 0, 0, 0.3);
$color__page_active : rgb(235, 226, 226);

/* Les couleurs du header*/
$color__header-fond : rgb(130, 131, 226);
$color__modeJourNuit-fond : rgb(157, 226, 130);

/* Les couleurs du footer */
$color__footer-texte : white;
$color__footer-fond : rgb(0, 0, 54);

/* Les couleurs de la page d'accueil */
$color__accueil-fond : #E8F0FF;





