// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

$desktop__accueil : 800px;
$desktop__tablette : 600px;
$desktop__laptop:1456px;
$desktop__ipadM:810px;
$desktop__ecrL:1600px;
$desktop__entre2:1000px;
$desktop__iPhone12Pro:428px;

@mixin bureau{
	@media (min-width : #{$desktop__accueil}){
		@content;
	}
}

@mixin tablette{
	@media (min-width : #{$desktop__tablette}){
		@content;
	}
}

@mixin laptop {
	@media (max-width:$desktop__laptop){
		@content;
	}
}

@mixin iPadMax{
	@media (max-width:$desktop__ipadM){
		@content;
	}
}
@mixin ecrLarge {
	@media (max-width:$desktop__ecrL){
		@content;
	}
}
@mixin entre2 {
	@media (max-width:$desktop__entre2){
		@content;
	}
}
@mixin iPhone12 {
	@media (max-width:$desktop__iPhone12Pro){
		@content;
	}
}